#font-over-samll {
	font-size: 1.5em;
}

@media screen and (max-width: 1200px) {
	.font-over {
		font-size: 2.2em;
	}
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {
	.font-over {
		font-size: 1em;
	}

	#font-over-samll {
		font-size: 0.7em;
	}
}