* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #00C4CC;
  font: 20px sans-serif;
}

#canvas {
  position:absolute;
  width:100%;
  height:100%;
  overflow: hidden;
}

h1 {
  top: 10%;
  left: 50%;
  text-align:center;
  color: #fff;
}

@media screen and (max-width: 480px) {
	body {
	  background: #00C4CC;
	  font: 10px sans-serif;
	}
}