<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.use.infrastructure.dao.extension.UserProfileDao">

	<resultMap id="UserProfileMap" type="com.app.use.entity.extension.UserProfile" >
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="gender" property="gender" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="birthday" property="birthday" jdbcType="CHAR" />
		<result column="image_icon" property="imageIcon" jdbcType="VARCHAR" />
	</resultMap>

	<select id="findById" parameterType="string" resultMap="UserProfileMap">
		SELECT
			user.id
			, user.name
			, userClinicalRecords.gender
			, userClinicalRecords.age
			, userClinicalRecords.birthday
			, userClinicalRecords.sex
			, user.image_icon
		FROM
		  user as user
		  INNER JOIN user_clinical_records as userClinicalRecords
		    ON user.id = userClinicalRecords.id
		WHERE
		  user.id = #{id}
 	</select>

</mapper>