<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.use.infrastructure.dao.NoticeDao">

  <resultMap id="NoticeMap" type="com.app.use.entity.Notice" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="notice_info" property="noticeInfo" jdbcType="VARCHAR" />
    <result column="notice_day" property="noticeDay" jdbcType="CHAR" />
  </resultMap>

  <select id="selectAll" parameterType="Integer" resultMap="NoticeMap">
    SELECT
    	*
    FROM
    	notice
    ORDER BY
    	id DESC
    LIMIT
    	#{limit}
  </select>

</mapper>