<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.use.infrastructure.dao.VoteDao">

  <select id="findVote" parameterType="Date" resultType="com.app.use.entity.Vote">
    SELECT
    	*
    FROM
    	vote
    WHERE
    	vote_end_date <![CDATA[ > ]]> #{nowDate}
  </select>

  <select id="findIdVote" parameterType="com.app.use.entity.Vote" resultType="com.app.use.entity.Vote">
    SELECT
    	*
    FROM
    	vote_
    WHERE
    	vote_id = ${vote_id}
  </select>

  <insert id="insert" parameterType="com.app.use.entity.Vote">
	INSERT INTO vote (
	  title
	  , `comment`
	  , image_icon
	  , deadline_date
	  , vote_start_date
	  , vote_end_date
	  , create_date
	  , update_date
	)
	VALUES (
	  ${title}
	  , ${comment}
	  , ${image_icon}
	  , ${deadline_date}
	  , ${vote_start_date}
	  , ${vote_end_date}
	  , NOW(8)
	  , NOW(8)
	)
  </insert>

</mapper>